<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.AssortMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.dto.productlibrary.AssortDto">
        <id column="id" property="id" />
        <result column="assort_name" property="assortName" />
        <result column="parent_id" property="parentId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, assort_name, parent_id
    </sql>
    <insert id="insertAssort">
        insert into t_assort(assort_name)
        values (#{assortName})
    </insert>
    <update id="updateAssort">
        UPDATE t_assort
        SET assort_name=#{assortName}
        WHERE id=#{id}
    </update>
    <delete id="deleteAssort">
        DELETE
        FROM t_assort
        WHERE id=#{id};
    </delete>
    <select id="queryAllAssorts" resultMap="BaseResultMap">
        SELECT t.assort_name
        FROM t_assort t
    </select>
    <resultMap id="BaseResultMap1" type="com.greatgump.crm.dto.productlibrary.QueryAssortDto">
        <id column="id" property="id" />
        <result column="assort_name" property="assortName" />
    </resultMap>
    <select id="queryBid" resultMap="BaseResultMap1">
        SELECT ast.assort_name
        FROM t_assort ast
        WHERE ast.id=#{id}
    </select>

</mapper>
