<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.BackRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.BackRecord">
        <id column="id" property="id" />
        <result column="back_record_no" property="backRecordNo" />
        <result column="back_id" property="backId" />
        <result column="customer_id" property="customerId" />
        <result column="order_id" property="orderId" />
        <result column="back_date" property="backDate" />
        <result column="back_money" property="backMoney" />
        <result column="back_plan_id" property="backPlanId" />
        <result column="transfer_id" property="transferId" />
        <result column="user_id" property="userId" />
        <result column="overdue_days" property="overdueDays" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, back_record_no, back_id, customer_id, order_id, back_date, back_money, back_plan_id, transfer_id, user_id, overdue_days, remark, is_delete
    </sql>

</mapper>
