<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.BackPlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.BackPlan">
        <id column="id" property="id" />
        <result column="back_no" property="backNo" />
        <result column="plan_back_date" property="planBackDate" />
        <result column="plan_back_count" property="planBackCount" />
        <result column="plan_back_money" property="planBackMoney" />
        <result column="real_back_money" property="realBackMoney" />
        <result column="not_back_money" property="notBackMoney" />
        <result column="pay_mothod" property="payMothod" />
        <result column="back_status" property="backStatus" />
        <result column="real_back_date" property="realBackDate" />
        <result column="overdue_days" property="overdueDays" />
        <result column="approval_status" property="approvalStatus" />
        <result column="creation_time" property="creationTime" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />
        <association property="customer" javaType="com.greatgump.crm.entity.Customer" >
            <id column="id" property="id"/>
            <result column="customer_name" property="customerName"/>
        </association>
        <association property="order" javaType="com.greatgump.crm.entity.Order">
            <id column="id" property="id"/>
            <result column="order_title" property="orderTitle"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, back_no, plan_back_date, plan_back_count, plan_back_money, real_back_money, not_back_money, pay_mothod, back_status, customer_id, order_id, real_back_date, overdue_days, approval_status, creation_time, update_time, remark, is_delete
    </sql>
    <select id="queryAllBackPlan" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"></include>
        FROM t_back_plan
    </select>


</mapper>
