<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.BusinessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.Business">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="bussiness_title" property="bussinessTitle" />
        <result column="bussiness_source" property="bussinessSource" />
        <result column="bussiness_stage" property="bussinessStage" />
        <result column="price_records" property="priceRecords" />
        <result column="last_follow" property="lastFollow" />
        <result column="not_follow_days" property="notFollowDays" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, bussiness_title, bussiness_source, bussiness_stage, price_records, last_follow, not_follow_days, remark, is_delete
    </sql>
    <select id="listBase" resultType="com.greatgump.crm.dto.BusinessDto">

    </select>

</mapper>
