<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.BusinessMapper">

    <!-- 通用查询映射结果 -->
<!--    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.Business">-->
<!--        <id column="id" property="id" />-->
<!--        <result column="customer_id" property="customerId" />-->
<!--        <result column="bussiness_title" property="bussinessTitle" />-->
<!--        <result column="bussiness_origin_id" property="bussinessOrigin" />-->
<!--        <result column="bussiness_stage_id" property="bussinessStage" />-->
<!--        <result column="price_records" property="priceRecords" />-->
<!--        <result column="last_follow" property="lastFollow" />-->
<!--        <result column="not_follow_days" property="notFollowDays" />-->
<!--        <result column="remark" property="remark" />-->
<!--        <result column="is_delete" property="isDelete" />-->
<!--    </resultMap>-->
    <resultMap id="queryBusiness" type="com.greatgump.crm.dto.LoanBusinessDto">
        <id column="id" property="id"/>
        <result column="bussiness_title" property="bussiness_title"/>
    </resultMap>

    <resultMap id="title" type="com.greatgump.crm.dto.BusinessTitleDto">
        <id column="id" property="id"></id>
        <result column="bussiness_title" property="orderNo"></result>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, bussiness_title, bussiness_origin_id, bussiness_stage_id, price_records, last_follow, not_follow_days, remark, is_delete
    </sql>
    <select id="listBase" resultType="com.greatgump.crm.dto.BusinessDto">

    </select>
  <select id="selectAllBusiness"
    resultType="com.greatgump.crm.dto.finance.cost.BusinessListDto">
      SELECT id, bussiness_title, bussiness_origin, bussiness_stage
      FROM t_business
  </select>


    <select id="queryBusiness" resultMap="queryBusiness">
        SELECT id,bussiness_title from t_business
    </select>
    <select id="listTitle" resultMap="title">
        SELECT * FROM t_business
    </select>

</mapper>
