<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.ChasingRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.ChasingRecord">
        <id column="id" property="id" />
        <result column="contact_id" property="contactId" />
        <result column="follow_through" property="followThrough" />
        <result column="user_id" property="userId" />
        <result column="progressive_time" property="progressiveTime" />
        <result column="catch_content" property="catchContent" />
        <result column="t_follow_form_id" property="followFormId" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, contact_id, follow_through, user_id, progressive_time, catch_content, t_follow_form_id, remark, is_delete
    </sql>
    <insert id="addChasing">
         insert into t_chasing_record(contact_id,follow_through,user_id,progressive_time,catch_content,t_fllow_form_id,is_delete)
         values (#{customer.id},#{followThrough},#{user.id},#{progressiveTime},#{catchContent},#{followFormId},"0")
         where follow_through in (select id from t_chasing_method where chasing_method=#{chasingMethod})
         and t_follow_from_id in (select id from t_business where customer_id  in (select id from t_customer where custer_name=#{customer}))
     </insert>
    <select id="queryChasingPlans" resultType="com.greatgump.crm.dto.FollowDetailsDto">
      select r.id,r.catch_content,r.progressive_time,c.customer_name,u.username,f.follow_type,m.chasing_method,f.contactss,f.phone
      from t_chasing_record r,t_follow_form f,t_business b,t_customer c,t_user u,t_chasing_method m
      where r.t_follow_form_id=b.id and r.remark=f.customer_needs and r.user_id=u.id and r.follow_through=m.id
      and f.`current_time`=(select MIN(create_time) from t_follow_form)
      and b.bussiness_title=#{bussiness_title}
    </select>
    <select id="queryChasingPlan" resultType="com.greatgump.crm.dto.FollowDetailsDto">
      select r.id,r.catch_content,r.progressive_time,c.customer_name,u.username,f.follow_type,m.chasing_method,f.contactss,f.phone
      from t_chasing_record r,t_follow_form f,t_business b,t_customer c,t_user u,t_chasing_method m
      where r.t_follow_form_id=b.id and r.remark=f.customer_needs and r.user_id=u.id and r.follow_through=m.id
      and f.`current_time`=(select MIN(create_time) from t_follow_form)
      and u.username=#{userName} and r.progressive_time=#{progressiveTime}
    </select>
    <select id="queryChasingRecordAll" resultType="com.greatgump.crm.dto.FollowDetailsDto">
      select r.id,r.catch_content,r.progressive_time,c.customer_name,u.username,f.follow_type,m.chasing_method,f.contactss,f.phone
      from t_chasing_record r,t_follow_form f,t_business b,t_customer c,t_user u,t_chasing_method m
      where r.t_follow_form_id=b.id and r.remark=f.customer_needs and r.user_id=u.id and r.follow_through=m.id
      and f.`current_time`=(select MIN(create_time) from t_follow_form)
      order by r.progressive_time desc
    </select>

</mapper>
