<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.ClueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.Clue">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="needs" property="needs" />
        <result column="personnel" property="personnel" />
        <result column="contacts" property="contacts" />
        <result column="phone" property="phone" />
        <result column="last_follow" property="lastFollow" />
        <result column="not_follow_days" property="notFollowDays" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />




        <association property="username" javaType="com.greatgump.crm.entity.Scale">
            <id column="wpsid" property="id"></id>
            <result column="scope" property="scope"></result>
        </association>

<!--        <association property="type" javaType="com.greatgump.crm.entity.Type">-->
<!--            <id column="tid" property="id"></id>-->
<!--            <result column="tname" property="name"></result>-->
<!--        </association>-->

<!--        <association property="source" javaType="com.greatgump.crm.entity.Source">-->
<!--            <id column="soid" property="id"></id>-->
<!--            <result column="soname" property="name"></result>-->
<!--        </association>-->

<!--        <association property="industry" javaType="com.greatgump.crm.entity.Industry">-->
<!--            <id column="inid" property="id"></id>-->
<!--            <result column="iname" property="name"></result>-->
<!--        </association>-->

<!--        <association property="belong" javaType="com.greatgump.crm.entity.User">-->
<!--            <id column="uid" property="id"></id>-->
<!--            <result column="username" property="username"></result>-->
<!--        </association>-->

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, needs, personnel, contacts, phone, last_follow, not_follow_days, clue_status, remark, is_delete
    </sql>

                        <!--    添加-->
    <insert id="saveClue">
        insert into t_follow_form(customer_name,user_id,source_id,status,customer_needs,contactss,e_mail,phone,qq,dept_id,wechat)
        values (#{username},#{userId},#{sourceId},#{status},#{customerNeeds},#{contacts},#{eMail},#{phone},#{qq},#{deptId},#{wechat})
    </insert>


<!--    &lt;!&ndash;      查询&ndash;&gt;
    <select id="quryallClue" resultType="com.greatgump.crm.dto.ClueReceiveDto">
        SELECT * FROM t_follow_form
    </select>-->

  <!--       编辑-->
    <update id="update">
        update t_follow_form set customer_name =#{username},user_id =#{userId},source_id=#{sourceId},status=#{status},customer_needs=#{customerNeeds},contactss=#{contacts},e_mail=#{eMail},phone=#{phone},qq=#{qq},dept_id=#{deptId},wechat=#{wechat} where id=#{id}

    </update>


</mapper>
