<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.ClueCustomerDetailsMapper">

    <resultMap id="mainInfoDto" type="com.greatgump.crm.dto.customerDetails.MainInfoDto">
        <result property="customerName" column="customer_name"></result>
        <result property="user" column="username"></result>
        <result property="type" column="tp_name"></result>
        <result property="industry" column="ti_name"></result>
        <result property="city" column="city"></result>
        <result property="scale" column="scope"></result>
        <result property="source" column="sr_name"></result>
        <result property="contactId" column="id"></result>
        <result property="contactName" column="contact_name"></result>
        <result property="eMail" column="mail"></result>
        <result property="phone" column="phone"></result>
        <result property="qq" column="qq"></result>
        <result property="dept" column="department"></result>
        <result property="wechat" column="wechat"></result>
    </resultMap>

    <resultMap id="contactDto" type="com.greatgump.crm.dto.customerDetails.ContactDto">
        <result property="id" column="id"></result>
        <result property="contactName" column="contact_name"></result>
        <result property="phone" column="phone"></result>
        <result property="department" column="department"></result>
        <result property="mail" column="mail"></result>
        <result property="qq" column="qq"></result>
        <result property="wechat" column="wechat"></result>
    </resultMap>
    <resultMap id="chasingRecordDto" type="com.greatgump.crm.dto.chasing.ChasingRecordDto">
        <result property="id" column="id"></result>
        <result property="catchContent" column="catch_content"></result>
        <result property="progressiveTime" column="progressive_time"></result>
        <result property="customer" column="contact_name"></result>
        <result property="user" column="username"></result>
        <result property="followType" column="follow_type"></result>
        <result property="followThrough" column="follow_through"></result>
        <result property="contact" column="contact_name"></result>
        <result property="phone" column="phone"></result>
        <result property="createTime" column="current_time"></result>
    </resultMap>
    <resultMap id="clueWorKOrderDto" type="com.greatgump.crm.dto.customerDetails.ClueWorKOrderDto">
        <id property="id" column="id"></id>
        <result property="workOrderNumber" column="work_order_number"></result>
        <result property="repairOrderTitle" column="repair_order_title"></result>
        <result property="startTime" column="start_time"></result>
        <result property="initiatorId" column="initiator_id"></result>
        <result property="handlerId" column="handler_id"></result>
        <result property="workorderStatus" column="workorder_status"></result>
        <result property="urgent" column="urgent"></result>
    </resultMap>
    <resultMap id="orderDto" type="com.greatgump.crm.dto.customerDetails.OrderDto">
        <result property="id" column="id"></result>
        <result property="orderTitle" column="order_title"></result>
        <result property="oderStatus" column="oder_status"></result>
        <result property="oderTotal" column="oder_total"></result>
        <result property="totalRes" column="total_res"></result>
        <result property="totalTicket" column="total_ticket"></result>
    </resultMap>
    <resultMap id="invoiceDto" type="com.greatgump.crm.dto.customerDetails.InvoiceDto">
        <result property="id" column="id"></result>
        <result property="invoice_date" column="invoice_date"></result>
        <result property="invoice_type" column="invoice_type"></result>
        <result property="invoice_no" column="invoice_no"></result>
        <result property="invoice_money" column="invoice_money"></result>
        <result property="invoice_subject" column="invoice_subject"></result>
    </resultMap>
    <resultMap id="costDto" type="com.greatgump.crm.dto.customerDetails.CostDto">
        <result property="costName" column="cost_name"></result>
        <result property="costType" column="cost_type"></result>
        <result property="customer" column="customer_name"></result>
        <result property="username" column="username"></result>
        <result property="order" column="order_title"></result>
        <result property="business" column="bussiness_title"></result>
        <result property="costMoney" column="cost_money"></result>
        <result property="happenedTime" column="happened_time"></result>
        <result property="remark" column="happened_time"></result>
        <result property="inputName" column="inputName"></result>
        <result property="createTime" column="creation_time"></result>
    </resultMap>
    <resultMap id="enclosureDto" type="com.greatgump.crm.dto.customerDetails.EnclosureDto">
        <result property="id" column="id"></result>
        <result property="uploadPeople" column="upload_people"></result>
        <result property="uploadDate" column="uplode_date"></result>
        <result property="uploadName" column="upload_name"></result>
        <result property="uploadSize" column="uplode_size"></result>
    </resultMap>

    <resultMap id="followPlan" type="com.greatgump.crm.dto.customerDetails.FollowPlan">
        <result property="beginTime" column="begin_time"></result>
        <result property="title" column="title"></result>
        <result property="userName" column="username"></result>
        <result property="planProgress" column="plan_progress"></result>
        <result property="planDegree" column="plan_degree"></result>
    </resultMap>

    <resultMap id="belongRecord" type="com.greatgump.crm.dto.customerDetails.BelongRecord">
        <result property="userName" column="user_name"></result>
        <result property="beginTime" column="begin_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="operationName" column="operation_ame"></result>
        <result property="operationTime" column="operation_time"></result>
    </resultMap>
    <resultMap id="businessDto" type="com.greatgump.crm.dto.customerDetails.BusinessDto">
        <result property="opportunityTitle" column="bussiness_title"></result>
        <result property="opportunityStage" column="business_stage"></result>
        <result property="priceRecords" column="price_records"></result>
        <result property="lastFollow" column="last_follow"></result>
        <result property="notFollowDays" column="not_follow_days"></result>
    </resultMap>

    <select id="queryMainInfoById" resultMap="mainInfoDto">
        SELECT cr.customer_name,u.username,tp.name AS tp_name,ti.name AS ti_name,cr.city,s.scope,sr.name AS sr_name,ct.id,ct.contact_name,ct.mail,ct.phone,ct.qq,ct.department,ct.wechat,cr.remark
        FROM t_customer cr,t_contact ct,t_user u,t_scale s,t_type tp,t_source sr,t_industry ti
        WHERE ct.customer_id=cr.id AND cr.user_id=u.id  AND cr.scale_id=s.id  AND cr.type_id=tp.id  AND cr.source_id=sr.id  AND cr.industry_id=ti.id  AND ct.remark='111' AND cr.id=1
    </select>
    <select id="queryContactDto" resultMap="contactDto">
        SELECT tc.contact_name,tc.phone,tc.department,tc.mail,tc.qq,tc.wechat
        FROM t_contact tc,t_customer cr
        WHERE cr.id=tc.customer_id AND cr.id=#{id}
    </select>
    <select id="queryAllChasingRecord" resultMap="chasingRecordDto">
        SELECT crd.id,crd.catch_content,crd.progressive_time,cr.customer_name,u.username,f.follow_type,crd.follow_through,tc.contact_name,tc.phone,f.`current_time`
		FROM t_chasing_record crd,t_follow_form f,t_contact tc,t_user u,t_customer cr
		WHERE crd.contact_id=tc.id AND crd.t_follow_form_id=f.id AND crd.user_id=u.id AND f.customer_id=cr.id AND cr.id=#{id}
    </select>
    <select id="querAllWorKOrderDtos" resultMap="clueWorKOrderDto">
        SELECT wr.work_order_number,wr.repair_order_title,wr.start_time,(SELECT username FROM t_user WHERE id=wr.initiator_id) AS initiator_id,(SELECT username FROM t_user WHERE id=wr.handler_id) AS handler_id,wr.workorder_status,wr.urgent
        FROM t_customer cr,t_workorder wr
        WHERE wr.customer_id=cr.id AND cr.id=#{id}
    </select>

    <select id="queryAllOrderDto" resultMap="orderDto">
        SELECT o.id,o.order_title,o.oder_status,o.oder_total,o.total_res,o.total_ticket
        FROM t_customer cr,t_order o
        WHERE cr.id=o.customer_id AND cr.id=#{id}
    </select>
    <select id="queryAllInvoiceDtos" resultMap="invoiceDto">
        SELECT i.id,i.invoice_date,i.invoice_type,i.invoice_no,i.invoice_money,i.invoice_subject
        FROM t_customer cr,t_invoice i
        WHERE cr.id=i.customer_id AND cr.id=#{id}
    </select>
    <select id="queryAllCostDtos" resultMap="costDto">
        SELECT c.cost_name,c.cost_type,cr.customer_name,(SELECT username FROM t_user WHERE id=c.user_id) AS username,o.order_title,b.bussiness_title,c.cost_money,c.happened_time,(SELECT username FROM t_user WHERE id=c.inputer_id) AS inputName,c.creation_time
        FROM t_customer cr,t_cost c,t_order o,t_business b
        WHERE c.customer_id=cr.id AND c.order_id=o.id AND c.business_id=b.id AND cr.id=#{id}
    </select>
    <select id="queryAllEnclosureDtos" resultMap="enclosureDto">
        SELECT up.id,up.upload_people,up.uplode_date,up.upload_name,up.uplode_size
        FROM t_customer cr,t_order o,t_upload_attachment up
        WHERE o.customer_id=cr.id AND up.order_id=o.id AND cr.id=#{id}
    </select>
    <select id="queryAllFollowPlans" resultMap="followPlan">
        SELECT fl.begin_time,fl.title,u.username,fl.plan_progress,fl.plan_degree
        FROM t_customer cr,t_follow_plan fl,t_user u
        WHERE fl.customer_id=cr.id AND u.id=fl.user_id AND cr.id=#{id}
    </select>
    <select id="queryAllBelongRecords" resultMap="belongRecord">
        SELECT (SELECT username FROM t_user WHERE id = br.user_id) AS user_name,br.begin_time,br.end_time,(SELECT username FROM t_user WHERE id=br.operation_id) AS operation_name,br.operation_time
        FROM t_customer cr,t_belong_record br
        WHERE br.customer_id=cr.id AND cr.id=#{id}
    </select>


    <select id="queryAllBusinessDtos" resultMap="businessDto">
        select b.bussiness_title,s.business_stage,b.price_records, b.last_follow, b.not_follow_days
        from t_business b,t_customer c,t_business_stage s
        where b.customer_id=c.id and b.bussiness_stage_id=s.id AND c.id=#{id}
    </select>
</mapper>