<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.ContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.Contract">
        <id column="id" property="id" />
        <result column="contract_num" property="contractNum" />
        <result column="signing_date" property="signingDate" />
        <result column="contract_name" property="contractName" />
<!--        <result column="customer_name" property="customerName" />-->
<!--        <result column="our_signatory" property="ourSignatory" />-->
        <result column="your_signatory" property="yourSignatory" />
        <result column="contract_amount" property="contractAmount" />
<!--        <result column="saler" property="saler" />-->
        <result column="contacts" property="contacts" />
        <result column="contrac_url" property="contracUrl" />
        <result column="contacts_phone" property="contactsPhone" />
        <result column="pay_method" property="payMethod" />
        <result column="pay_date" property="payDate" />
        <result column="remake" property="remake" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <resultMap id="ContractMap" type="com.greatgump.crm.dto.ContractDto">
        <id column="id" property="id" />
        <result column="contract_num" property="contractNum" />
        <result column="signing_date" property="signingDate" />
        <result column="contract_name" property="contractName" />
        <result column="customer_name" property="customerName" />
        <result column="username" property="ourSignatory" />
        <result column="your_signatory" property="yourSignatory" />
        <result column="contract_amount" property="contractAmount" />
        <result column="saler" property="saler" />
        <result column="contact_name" property="contacts" />
        <result column="contrac_url" property="contracUrl" />
        <result column="contacts_phone" property="contactsPhone" />
        <result column="pay_method" property="payMethod" />
        <result column="pay_date" property="payDate" />
    </resultMap>

    <resultMap id="box1" type="com.greatgump.crm.dto.LuoDto2">
        <id column="id" property="id"></id>
        <result column="customer_name" property="customerName"></result>
    </resultMap>

    <resultMap id="contractUpdate" type="com.greatgump.crm.dto.ContractUpdateDto">
        <id column="id" property="id"></id>
        <result column="customer_id" property="customerId"></result>
        <result column="customer_name" property="contactsName"></result>
        <result column="our_signatory_id" property="ourSignatoryId"></result>
        <result column="username" property="username"></result>
        <result column="saler_id" property="salerId"></result>
        <result column="saler" property="saler"></result>
        <result column="contacts" property="contacts"></result>
        <result column="contact_name" property="contactsName"></result>
        <result column="pay_method" property="payMethod"></result>
        <result column="pay_date" property="payDate"></result>
        <result column="signing_date" property="signingDate"></result>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, contract_num, signing_date, contract_name, customer_name, our_signatory, your_signatory, contract_amount, saler, contacts, contrac_url, contacts_phone, pay_method, pay_date, remake, is_delete
    </sql>
    <select id="listIneed" resultMap="ContractMap">
        SELECT
            cta.id,
            cta.contract_num,
            cta.signing_date,
            cta.contract_name,
            cus.customer_name,
            us.username,
            cta.your_signatory,
            cta.contract_amount,
            us.username AS saler,
            tc.contact_name,
            cta.pay_method,
            cta.pay_date,
            cta.contrac_url,
            cta.contacts_phone
        FROM
            t_contract cta
                INNER JOIN t_user us ON cta.our_signatory_id = us.id
                inner join t_user us2 on cta.saler_id = us2.id,
            t_customer cus,
            t_contact tc
        WHERE
            cta.customer_id = cus.id
          AND cta.contacts = tc.id
    </select>
    <select id="listBox1" resultMap="box1">
        SELECT id,customer_name
        FROM t_customer
    </select>
    <select id="searchList" resultMap="ContractMap">
        SELECT
            cta.id,
            cta.contract_num,
            cta.signing_date,
            cta.contract_name,
            cus.customer_name,
            us.username,
            cta.your_signatory,
            cta.contract_amount,
            us2.username AS saler,
            tc.contact_name,
            cta.pay_method,
            cta.pay_date,
            cta.contrac_url,
            cta.contacts_phone
        FROM
            t_contract cta
                INNER JOIN t_user us ON cta.our_signatory_id = us.id
                inner join t_user us2 on cta.saler_id = us2.id,
            t_customer cus,
            t_contact tc
        WHERE
            cta.customer_id = cus.id
          AND cta.contacts = tc.id
        <if test="customerName != null and customerName != ''">
            AND cus.customer_name = #{customerName}
        </if>
        <if test="start != null &amp;end != null ">
            AND cta.pay_date BETWEEN #{start} AND #{end}
        </if>
        <if test="current != null and current != '' &amp; size != null and size != ''">
            LIMIT ${(current-1) * size},#{size}
        </if>
    </select>
    <select id="countList" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM
            t_contract cta
                INNER JOIN t_user us ON cta.our_signatory_id = us.id
                inner join t_user us2 on cta.saler_id = us2.id,
            t_customer cus,
            t_contact tc
        WHERE
            cta.customer_id = cus.id
          AND cta.contacts = tc.id
        <if test="customerName != null and customerName != ''">
            AND cus.customer_name = #{customerName}
        </if>
        <if test="start != null &amp;end != null ">
            AND cta.pay_date BETWEEN #{start} AND #{end}
        </if>
    </select>
    <select id="getByIdDto" resultMap="contractUpdate">
        SELECT
            cta.id,
            cta.customer_id,
            cus.customer_name,
            cta.our_signatory_id,
            us.username,
            cta.saler_id,
            cta.contract_url,
            us.username AS saler,
            cta.contacts,
            tc.contact_name,
            cta.pay_method,
            cta.pay_date,
            cta.signing_date

        FROM
            t_contract cta
                INNER JOIN t_user us ON cta.our_signatory_id = us.id
                inner join t_user us2 on cta.saler_id = us2.id,
            t_customer cus,
            t_contact tc
        WHERE
            cta.customer_id = cus.id
          AND cta.contacts = tc.id
        AND cta.id = #{id}
    </select>
    <select id="getForTitle" resultMap="ContractMap">
        SELECT
            cta.id,
            cta.contract_num,
            cta.signing_date,
            cta.contract_name,
            cus.customer_name,
            us.username,
            cta.your_signatory,
            cta.contract_amount,
            us.username AS saler,
            tc.contact_name,
            cta.pay_method,
            cta.pay_date,
            cta.contrac_url,
            cta.contacts_phone
        FROM
            t_contract cta
                INNER JOIN t_user us ON cta.our_signatory_id = us.id
                inner join t_user us2 on cta.saler_id = us2.id,
            t_customer cus,
            t_contact tc
        WHERE
            cta.customer_id = cus.id
          AND cta.contacts = tc.id
            AND cta.id = #{id}
    </select>

</mapper>
