<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.CostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.Cost">
        <id column="id" property="id" />
        <result column="cost_no" property="costNo" />
        <result column="cost_name" property="costName" />
        <result column="cost_source" property="costSource" />
        <result column="cost_type" property="costType" />
        <result column="cost_stage" property="costStage" />
        <result column="cost_money" property="costMoney" />
        <result column="happened_time" property="happenedTime" />
        <result column="expense_status" property="expenseStatus" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />
        <association property="customer" javaType="com.greatgump.crm.entity.Customer">
            <id column="id" property="id"/>
            <result column="customer_name" property="customerName"/>
        </association>
        <association property="user" javaType="com.greatgump.crm.entity.User">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
        <association property="order" javaType="com.greatgump.crm.entity.Order">
            <id column="id" property="id"/>
            <result column="order_title" property="orderTitle"/>
        </association>
        <association property="business" javaType="com.greatgump.crm.entity.Business">
            <id column="id" property="id"/>
            <result column="bussiness_title" property="bussinessTitle"/>
        </association>
        <association property="invoice" javaType="com.greatgump.crm.entity.Invoice">
            <id column="id" property="id"/>
            <result column="invoice_money" property="invoiceMoney"/>
            <result column="invoice_subject" property="invoiceSubject"/>
            <result column="invoice_no" property="invoiceNo"/>
            <result column="invoice_date" property="invoiceDate"/>
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cost_no, cost_name, cost_type, customer_id, user_id, order_id, business_id, invoice_id, cost_money, happened_time, expense_status, remark, is_delete
    </sql>
    <select id="selectAllCost" resultMap="BaseResultMap">
        SELECT cost.id, cost.cost_no, cost.cost_name, cus.customer_name, cost.cost_money, cost.happened_time, tu.username, cost.expense_status
        FROM t_cost cost
                 JOIN t_customer cus
                      ON cost.customer_id = cus.id
                 JOIN t_user tu
                      ON cost.user_id = tu.id
    </select>

</mapper>
