<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.Customer">
        <id column="id" property="id" />
        <result column="customer_name" property="customerName" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="scale_id" property="scaleId" />
        <result column="type_id" property="typeId" />
        <result column="source_id" property="sourceId" />
        <result column="industry_id" property="industryId" />
        <result column="belong_id" property="belongId" />
        <result column="is_customer" property="isCustomer" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_name, province, city, scale_id, type_id, source_id, industry_id, belong_id, is_customer, create_time, remark, is_delete
    </sql>

</mapper>
