<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.CustomerMapper">

    <resultMap id="customerDtoMap" type="com.greatgump.crm.dto.CustomerDto">
        <id column="id" property="id" />
        <result column="customer_name" property="customerName" />
        <result column="province" property="province" />
        <result column="city" property="cityName" />
        <result column="username" property="userName" />
        <result column="industryName" property="industryName" />
        <result column="typename" property="typeName" />
        <result column="create_time" property="createTime" />
        <result column="scope" property="scope" />
        <result column="sourceName" property="sourceName" />
        <collection property="contacts" ofType="com.greatgump.crm.entity.Contact">
            <id column="ctid" property="id"></id>
            <result column="contactname" property="contactName"></result>
            <result column="mail" property="mail"></result>
            <result column="phone" property="phone"></result>
            <result column="qq" property="qq"></result>
            <result column="department" property="department"></result>
            <result column="wechat" property="wechat"></result>
        </collection>
    </resultMap>
    <insert id="insertCustomer" useGeneratedKeys="true" keyProperty="id">
        insert into t_customer(customer_name,province,city,scale_id,type_id,source_id,industry_id,user_id,create_time)
               values(#{customerName},#{province},#{city},#{scaleId},#{typeId},#{sourceId},#{industryId},#{userId},#{createTime})
    </insert>

    <select id="queryAllCustomer" resultMap="customerDtoMap">
        SELECT tcs.id,tcs.customer_name,tcs.province,tcs.city,tcs.create_time,u.username,ti.name industryName,tt.name typeName,tsc.scope,tso.name sourceName,
               tc.id ctid,tc.contact_name contactname,tc.mail,tc.phone,tc.qq,tc.department,tc.wechat
        FROM t_customer tcs,t_contact tc,t_industry ti,t_scale tsc,t_source tso,t_type tt,t_user u
        WHERE tcs.scale_id = tsc.id AND tcs.type_id = tt.id AND tcs.source_id = tso.id AND tcs.industry_id = ti.id
              AND tcs.id = tc.customer_id AND u.id=tcs.user_id AND tcs.is_delete=0 AND tcs.is_customer = 1 AND tc.is_default = 1
    </select>

    <select id="queryAllSeas" resultMap="customerDtoMap">
        SELECT tcs.id,tcs.customer_name,tcs.province,tcs.city,tcs.create_time,u.username,ti.name industryName,tt.name typeName,tsc.scope,tso.name sourceName,
               tc.id ctid,tc.contact_name contactname,tc.mail,tc.phone,tc.qq,tc.department,tc.wechat
        FROM t_customer tcs,t_contact tc,t_industry ti,t_scale tsc,t_source tso,t_type tt,t_user u
        WHERE tcs.scale_id = tsc.id AND tcs.type_id = tt.id AND tcs.source_id = tso.id AND tcs.industry_id = ti.id
          AND tcs.id = tc.customer_id AND u.id=tcs.user_id AND tcs.is_delete=0 AND tcs.is_customer = 0 AND tc.is_default = 1
    </select>
    <select id="queryCustomerByUid" resultMap="customerDtoMap" parameterType="int">
        SELECT tcs.id,tcs.customer_name,tcs.province,tcs.city,tcs.create_time,u.username,ti.name industryName,tt.name typeName,tsc.scope,tso.name sourceName,
               tc.id ctid,tc.contact_name contactname,tc.mail,tc.phone,tc.qq,tc.department,tc.wechat,tc.is_default def
        FROM t_customer tcs,t_contact tc,t_industry ti,t_scale tsc,t_source tso,t_type tt,t_user u
        WHERE tcs.scale_id = tsc.id AND tcs.type_id = tt.id AND tcs.source_id = tso.id AND tcs.industry_id = ti.id
          AND tcs.id = tc.customer_id AND u.id=tcs.user_id  AND  tcs.is_delete=0 AND tcs.is_customer = 1 AND tcs.user_id = #{arg0}
    </select>
    <select id="queryCustomerDynamic" resultMap="customerDtoMap" parameterType="com.greatgump.crm.dto.CustomerQueryDto">
        SELECT tcs.id,tcs.customer_name,tcs.province,tcs.city,tcs.create_time,u.username,ti.name industryName,tt.name typeName,tsc.scope,tso.name sourceName,
               tc.id ctid,tc.contact_name contactname,tc.mail,tc.phone,tc.qq,tc.department,tc.wechat
        FROM t_customer tcs,t_contact tc,t_industry ti,t_scale tsc,t_source tso,t_type tt,t_user u
        WHERE tcs.scale_id = tsc.id AND tcs.type_id = tt.id AND tcs.source_id = tso.id AND tcs.industry_id = ti.id
          AND tcs.id = tc.customer_id AND u.id=tcs.user_id AND tcs.is_delete=0 AND tcs.is_customer = 1 AND tc.is_default = 1
        <if test="keywords != null and keywords != ''">
            AND tcs.customer_name = #{keywords} || u.username = #{keywords}
        </if>
        <if test="typeId != 0">
            AND tcs.type_id = #{typeId}
        </if>
        <if test="industryId != 0">
            AND tcs.industry_id = #{industryId}
        </if>
        <if test="startTime != null ">
            AND tcs.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null ">
            AND tcs.create_time &lt;= #{endTime}
        </if>
    </select>
    <select id="querySeasDynamic" resultType="com.greatgump.crm.dto.CustomerDto">
        SELECT tcs.id,tcs.customer_name,tcs.province,tcs.city,tcs.create_time,u.username,ti.name industryName,tt.name typeName,tsc.scope,tso.name sourceName,
        tc.id ctid,tc.contact_name contactname,tc.mail,tc.phone,tc.qq,tc.department,tc.wechat
        FROM t_customer tcs,t_contact tc,t_industry ti,t_scale tsc,t_source tso,t_type tt,t_user u
        WHERE tcs.scale_id = tsc.id AND tcs.type_id = tt.id AND tcs.source_id = tso.id AND tcs.industry_id = ti.id
        AND tcs.id = tc.customer_id AND u.id=tcs.user_id AND tcs.is_delete=0 AND tcs.is_customer = 0 AND tc.is_default = 1
        <if test="keywords != null and keywords != ''">
            AND tcs.customer_name = #{keywords} || u.username = #{keywords}
        </if>
        <if test="typeId != 0">
            AND tcs.type_id = #{typeId}
        </if>
        <if test="industryId != 0">
            AND tcs.industry_id = #{industryId}
        </if>
        <if test="startTime != null ">
            AND tcs.create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null ">
            AND tcs.create_time &lt;= #{endTime}
        </if>
    </select>


</mapper>
