<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.FollowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.Follow">
        <id column="id" property="id" />
        <result column="customer" property="customer" />
        <result column="person" property="person" />
        <result column="follow_method" property="followMethod" />
        <result column="follow_people" property="followPeople" />
        <result column="followdate" property="followdate" />
        <result column="follow_context" property="followContext" />
        <result column="remake" property="remake" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer, person, follow_method, follow_people, followdate, follow_context, remake, is_delete
    </sql>

    <!--    关联订单-->
    <insert id="saveOrderFollow">
        insert into(customer,person,followdate,follow_people,follow_method,follow_context)
        values(#{customer},#{person},#{followdate},#{followPeople},#{followMethod},#{followContext})
        where customer in (select customer_name from t_customer where id in (select customer_id from t_business where id in (select business_id from t_oder where id=#{id})))
    </insert>



</mapper>
