<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.Order">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="order_title" property="orderTitle" />
        <result column="oder_status" property="oderStatus" />
        <result column="pay_methods" property="payMethods" />
        <result column="owner_signer_phone" property="ownerSignerPhone" />
        <result column="face_signer_phone" property="faceSignerPhone" />
        <result column="order_date" property="orderDate" />
        <result column="total_res" property="totalRes" />
        <result column="total_ticket" property="totalTicket" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />
        <association  property="customer" javaType="com.greatgump.crm.entity.Customer">
            <id column="id" property="id"/>
            <result column="customer_name" property="customerName"/>
        </association>
        <association property="sale" javaType="com.greatgump.crm.entity.User">
            <id column="id" property="id"/>
            <result column="username" property="username"/>
        </association>
        <association property="business" javaType="com.greatgump.crm.entity.Business">
            <id column="id" property="id"/>
            <result column="bussiness_title" property="bussinessTitle"/>
        </association>
        <association property="product" javaType="com.greatgump.crm.entity.Product">
            <id column="id" property="id"/>
            <result column="product_name" property="productName"/>
        </association>
        <association property="uploadAttachment" javaType="com.greatgump.crm.entity.UploadAttachment">
            <id column="id" property="id" />
            <result column="upload_location" property="uploadLocation" />
        </association>
        <association property="orderContract" javaType="com.greatgump.crm.entity.Contract">
            <id column="id" property="id" />
            <result column="contract_num" property="contractNum" />
            <result column="signing_date" property="signingDate" />
            <result column="contract_name" property="contractName" />
            <result column="contract_amount" property="contractAmount" />
        </association>
        <association property="ownerSigner" javaType="com.greatgump.crm.entity.User">
            <id column="id" property="id" />
            <result column="username" property="username"/>
        </association>
        <association property="faceSigner" javaType="com.greatgump.crm.entity.Contact">
            <id column="id" property="id" />
            <result column="contact_name" property="contactName"/>
        </association>

    </resultMap>
    
    <resultMap id="listMap" type="com.greatgump.crm.dto.OrderListDto">
        <id column="id" property="id"></id>
        <result column="order_no" property="orderNo"></result>
        <result column="order_title" property="orderTitle"></result>
        <result column="customer_name" property="customer"></result>
        <result column="saler" property="sale"></result>
        <result column="bussiness_title" property="business"></result>
        <result column="product_id" property="product"></result>
        <result column="oder_total" property="oderTotal"></result>
        <result column="upload_location" property="uploadAttachment"></result>
        <result column="pay_methods" property="payMethods"></result>
        <result column="order_contract" property="orderContract"></result>
        <result column="owner_signer" property="ownerSigner"></result>
        <result column="owner_signer_phone" property="ownerSignerPhone"></result>
        <result column="contact_name" property="faceSigner"></result>
        <result column="face_signer_phone" property="faceSignerPhone"></result>
        <result column="order_date" property="orderDate"></result>
        <result column="total_res" property="totalRes"></result>
        <result column="total_ticket" property="totalTicket"></result>
        <result column="customer_id" property="cutomerId"></result>


    </resultMap>

    <resultMap id="queryOrder" type="com.greatgump.crm.dto.LoanOrderDto">
        <id column="id" property="id"/>
        <result column="order_title" property="order_title"/>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no, order_title, customer_id, sale_id, business_id, product_id, oder_total, oder_status, upload_attachment_id, pay_methods, order_contract, owner_signer, owner_signer_phone, face_signer, face_signer_phone, order_date, total_res, total_ticket, remark, is_delete
    </sql>
  <select id="selectOrderListDto"
    resultType="com.greatgump.crm.dto.finance.cost.OrderListDto">
      SELECT o.id, o.order_no, o.order_title
      FROM t_order o
  </select>
    <select id="listIneed" resultMap="listMap">
        SELECT od.id,od.order_no,od.order_title,od.customer_id,cus.customer_name,us1.username AS saler,bus.bussiness_title,od.product_id,od.oder_total,od.oder_status,upl.upload_location,od.pay_methods,od.order_contract,us2.username AS owner_signer,od.owner_signer_phone,od.face_signer,od.face_signer_phone,od.order_date,od.total_res,od.total_ticket
        FROM t_order od INNER JOIN t_user us1 ON od.sale_id = us1.id INNER JOIN t_user us2 ON od.owner_signer = us2.id,t_customer cus ,t_business bus,t_upload_attachment upl
        WHERE od.customer_id = cus.id AND od.business_id = bus.id AND od.upload_attachment_id = upl.id
    </select>






<!--    商机中关联订单-->
    <select id="queryBusinessOder" resultType="com.greatgump.crm.dto.OrderBusinessDto">
        select id,order_title,oder_status,oder_total,total_res, total_ticket
        from t_order where business_id in(select id from t_business where bussiness_title=#{bussinessTitle})
    </select>
    <select id="searchIneed" resultMap="listMap">
        SELECT od.id,od.order_no,od.order_title,od.customer_id,cus.customer_name,us1.username AS saler,bus.bussiness_title,od.product_id,od.oder_total,od.oder_status,upl.upload_location,od.pay_methods,od.order_contract,us2.username AS owner_signer,od.owner_signer_phone,od.face_signer,od.face_signer_phone,od.order_date,od.total_res,od.total_ticket
        FROM t_order od INNER JOIN t_user us1 ON od.sale_id = us1.id INNER JOIN t_user us2 ON od.owner_signer = us2.id,t_customer cus ,t_business bus,t_upload_attachment upl
        WHERE od.customer_id = cus.id AND od.business_id = bus.id AND od.upload_attachment_id = upl.id
        <if test="title != null and title != ''">
            AND order_title LIKE "%"#{title}"%"
        </if>
        <if test="status != null and status != ''">
            AND oder_status = #{status}
        </if>
        <if test="start != null &amp;end != null ">
            AND order_date BETWEEN #{start} AND #{end}
        </if>
        <if test="current != null and current != '' &amp; size != null and size != ''">
            LIMIT ${(current-1) * size},${size}
        </if>
    </select>
        <select id="queryOrder" resultMap="queryOrder">
        SELECT id,order_title from t_order
    </select>
    <select id="searchCount" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM t_order od INNER JOIN t_user us1 ON od.sale_id = us1.id INNER JOIN t_user us2 ON od.owner_signer = us2.id,t_customer cus ,t_business bus,t_upload_attachment upl
        WHERE od.customer_id = cus.id AND od.business_id = bus.id AND od.upload_attachment_id = upl.id
        <if test="title != null and title != ''">
            AND order_title LIKE "%"#{title}"%"
        </if>
        <if test="start != null &amp;end != null ">
            AND order_date BETWEEN #{start} AND #{end}
        </if>
        <if test="current != null and current != '' &amp; size != null and size != ''">
            LIMIT ${(current-1) * size},${size}
        </if>
    </select>

</mapper>
