<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.ProductPropertyMapper">

    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.ProductProperty">
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="propertyId" column="property_id" jdbcType="BIGINT"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        product_id,property_id,is_delete
    </sql>
</mapper>
