<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.PropertyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.Property">
        <id column="id" property="id" />
        <result column="property_name" property="propertyName" />
        <result column="property_value" property="propertyValue" />
        <result column="creation_date" property="creationDate" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, property_name, property_value, creation_date, remark, is_delete
    </sql>




<!--zhuiyi add -->
    <select id="selectProperyByProductId" parameterType="int"
            resultType="com.greatgump.crm.entity.Property">
        SELECT DISTINCT * FROM t_property WHERE id IN (
            SELECT property_id FROM t_product_property WHERE product_id = #{pid} AND is_delete=0
        )
    </select>





    <insert id="insertProperty">
        insert into t_property(property_name,property_value)
        values (#{propertyName},#{propertyValue})
    </insert>
    <update id="updateProperty">
        UPDATE t_property
        SET property_name=#{propertyName},property_value=#{propertyValue}
        WHERE id=#{id}
    </update>
    <delete id="deleteProperty">
        DELETE
        FROM t_property
        WHERE id=#{id};
    </delete>
    <resultMap id="BaseResultMap2" type="com.greatgump.crm.dto.productlibrary.PropertyDto">
        <id column="id" property="id" />
        <result column="property_name" property="propertyName" />
        <result column="property_value" property="propertyValue" />
        <result column="creation_date" property="creationDate" />
    </resultMap>
    <select id="queryAllPropertys" resultMap="BaseResultMap2">
        SELECT t.property_name,t.property_value,t.creation_date
        FROM t_property t
    </select>
    <resultMap id="BaseResultMap1" type="com.greatgump.crm.dto.productlibrary.QueryPropertyDto">
    <id column="id" property="id" />
    <result column="property_name" property="propertyName" />
    <result column="property_value" property="propertyValue" />
</resultMap>
    <select id="queryBid" resultMap="BaseResultMap1">
        SELECT py.property_name,py.property_value
        FROM t_property py
        WHERE py.id=#{id}
    </select>
    <select id="searchList1" resultMap="BaseResultMap2">
        SELECT
        property_name,
        property_value,
        creation_date
        FROM t_property
        WHERE
        <if test = "propertyName != null and propertyName != ''" >
            property_name = #{propertyName}
        </if >
        <if test = "start != null &amp;end != null " >
            AND creation_date BETWEEN #{start} AND #{end}
        </if>
    </select>

</mapper>
