<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.ScaleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.Scale">
        <id column="id" property="id" />
        <result column="scope" property="scope" />
        <result column="remark" property="remark" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, scope, remark, is_delete
    </sql>
    <select id="queryAllScale" resultType="com.greatgump.crm.entity.Scale">
        select id, scope from t_scale where is_delete = 0
    </select>


</mapper>
