<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greatgump.crm.mapper.WorkorderMapper">
    <resultMap id="BaseResultMap" type="com.greatgump.crm.entity.Workorder">
        <id column="id" property="id" />
        <result column="work_order_number" property="workOrderNumber" />
        <result column="repair_order_title" property="repairOrderTitle" />
        <result column="start_time" property="startTime" />
        <result column="status_id" property="statusId" />
        <result column="degree_id" property="degreeId" />
        <result column="work_order_details" property="workOrderDetails" />
        <result column="is_delete" property="isDelete" />
        <collection property="customerName" ofType="com.greatgump.crm.entity.Customer">
            <id column="id" property="id" />
            <result column="customer_name" property="customerName" />
        </collection>
        <collection property="linkmanId" ofType="com.greatgump.crm.entity.Contact">
            <id column="id" property="id" />
            <result column="contact_name" property="contactName" />
        </collection>
    </resultMap>
    <insert id="addWorkorder" >
        INSERT INTO t_workorder(work_order_number, repair_order_title, start_time, initiator_id, handler_id, status_id, customer_name, work_order_details, linkman_id, degree_id, accessory)
        VALUES(#{workOrderNumber},#{repairOrderTitle},#{startTime},#{initiatorId},#{handlerId},#{statusId},#{degreeId},#{customerName},#{workOrderDetails},#{linkmanId},#{accessory})
    </insert>
    <update id="updateByHandler">
        UPDATE t_workorder SET handler_id = #{handlerId} WHERE id = #{id}
    </update>
    <delete id="deleteOrder"></delete>
    <delete id="deletes"></delete>
    <select id="queryAllWorkorder" resultMap="BaseResultMap">
        SELECT tw.id,tw.work_order_number,tw.repair_order_title,tw.start_time,tu.username,tu.username,twd.degree_name,th.name
        FROM t_workorder tw,t_contact tc,t_user tu,t_customer tcs,t_workorder_dictionary twd,t_handle th
        WHERE tw.initiator_id = tu.id AND tw.handler_id = tu.id AND tw.status_id = twd.id AND tw.degree_id = th.id
       AND tw.id = tc.customer_id AND tu.id = tcs.user_id
    </select>
    <select id="queryByWorkorder" resultType="com.greatgump.crm.entity.Workorder"></select>
    <select id="queryByID" resultType="com.greatgump.crm.dto.WorkorderDto3"></select>
    <select id="getWorkorderByUid" resultType="com.greatgump.crm.entity.Workorder"></select>
</mapper>
